html
  height: 100%
  width: 100%
  margin: 0

body
  height: 100%
  width: 100%
  margin: 0
  font-family: 'Raleway', sans-serif
  cursor: default
  overflow: hidden

.no-select
  -webkit-touch-callout: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.container
  width: 100%
  height: 100%
  position: absolute
  display: table

.wrapper
  display: table-cell
  vertical-align: middle
  text-align: center

.links a
  padding: 8px
  text-decoration: none
  color: black

.arrow
  position: absolute
  width: 120px
  height: 120px
  text-align: center
  //transition: .5s ease-in-out
  cursor: pointer
  z-index: 9

  .icon
    width: 120px
    height: 60px
    font-size: 48px
    transform: rotate(90deg)
    //transition: .5s ease-in-out

    &:before
      content: "‹"

  .text
    width: 120px
    height: 60px
    margin-top: -24px
    text-align: center
    display: table

    p
      display: table-cell
      vertical-align: middle

  &:hover + .page

    &.top
      margin-top: 120px

    &.left
      margin-left: 120px

    &.bottom
      margin-bottom: 120px

    &.right
      margin-right: 120px

  &.top, &.bottom
    left: 50%
    margin-left: -60px

  &.left, &.right
    top: 50%
    margin-top: -60px

  &.top
    top: 0

  &.left
    left: 0
    transform: rotate(-90deg)

  &.bottom
    bottom: 0

    .text
      margin-top: 24px
      margin-bottom: -24px

    .icon
      transform: rotate(-90deg)

  &.right
    right: 0
    transform: rotate(90deg)

.page
  position: absolute
  width: 100%
  height: 100%
  box-sizing: border-box
  text-align: center

  &.top
    top: -100%
    margin-top: 40px
    padding-top: 120px
    padding-left: 120px
    padding-right: 120px

  &.left
    left: -100%
    margin-left: 40px
    padding-left: 120px
    padding-top: 120px
    padding-bottom: 120px

  &.bottom
    bottom: -100%
    margin-bottom: 40px
    padding-bottom: 120px
    padding-left: 120px
    padding-right: 120px

  &.right
    right: -100%
    margin-right: 40px
    padding-right: 120px
    padding-top: 120px
    padding-bottom: 120px

.page.top
  display: flex

  .edu
    flex: 1
    display: flex
    flex-direction: column
    justify-content: flex-start
    padding-top: 15vh
    margin-bottom: 2vh

  #edu_kdmhs
    background: #98D5F4 url('./img/edu/bg/kdmhs.jpg') no-repeat bottom
    background-size: contain
    .logo
      background: url('./img/edu/logo/kdmhs.png') no-repeat center
      background-size: contain

  #edu_ncta
    background: #958E31 url('./img/edu/bg/ncta.jpg') no-repeat bottom
    background-size: contain
    .logo
      background: url('./img/edu/logo/ncta.png') no-repeat center
      background-size: contain

  #edu_kams
    background: #548BD0 url('./img/edu/bg/kams.jpg') no-repeat bottom
    background-size: contain
    .logo
      background: url('./img/edu/logo/kams.png') no-repeat center
      background-size: contain

  .logo
    width: 100%
    height: 120px
    margin-bottom: 16px

  .name
    font-size: 20px
    margin-bottom: 12px

  .date
    font-weight: bold
    margin-bottom: 16px

.page.left
  display: flex
  flex-direction: column

  .row
    flex: 1
    display: flex

  .prz
    flex: 1
    display: flex
    flex-direction: column
    justify-content: flex-end
    transition: .3s ease-in-out
    margin: 2vh 2vw 2vh 2vw

    &:hover
      transform: scale(1.1, 1.1)

    .panel
      background: rgba(255, 255, 255, .8)
      padding: 16px

      span
        display: block

  #prz_2010_koi
    background: url('./img/prz/2010_koi.jpg') center
    background-size: cover

  #prz_2011_kyio
    background: url('./img/prz/2011_kyio.jpg') center
    background-size: cover

  #prz_2014_gdghack
    background: url('./img/prz/2014_gdghack.png') center
    background-size: cover

  #prz_2015_usaco
    background: url('./img/prz/2015_usaco.jpg') center
    background-size: cover

  #prz_2016_utd
    background: url('./img/prz/2016_utd.jpg') center
    background-size: cover

  #prz_2016_hackdfw
    background: url('./img/prz/2016_hackdfw.jpg') center
    background-size: cover

  #prz_2016_codequest
    background: url('./img/prz/2016_codequest.jpg') center
    background-size: cover

  #prz_2016_ksu
    background: url('./img/prz/2016_ksu.jpg') center
    background-size: cover

.page.right
  display: flex
  flex-direction: column

  a
    text-decoration: none
    color: black

  .row
    flex: 1
    display: flex

  .prj
    flex: 1
    display: flex
    flex-direction: column
    justify-content: flex-end
    transition: .3s ease-in-out
    margin: 2vh 2vw 2vh 2vw

    &:hover
      transform: scale(1.1, 1.1)

    .panel
      background: rgba(255, 255, 255, .8)
      padding: 16px

      span
        display: block

      ul
        text-align: left

  #prj_duocoder
    background: url('./img/prj/duocoder.png') top center no-repeat
    background-size: cover

  #prj_algovis
    background: url('./img/prj/algovis.png') top center no-repeat
    background-size: cover

  #prj_hitw
    background: url('./img/prj/hitw.png') bottom center no-repeat
    background-size: cover

  #prj_taskbar7
    background: url('./img/prj/taskbar7.png') center no-repeat
    background-size: cover

  .name
    font-weight: bold
