@charset "UTF-8";
html {
  height: 100%;
  width: 100%;
  margin: 0;
  background: white; }

body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
  cursor: default;
  overflow: hidden;
  background: black; }

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.container {
  width: 100%;
  height: 100%; }

.square-wrapper {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column; }
  .square-wrapper .row {
    display: flex;
    justify-content: center;
    perspective: 1000px; }

.square {
  width: 500px;
  height: 500px;
  background: white;
  transform-style: preserve-3d; }

.content-wrapper {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: black; }

.links a {
  padding: 8px;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out; }
  .links a:hover {
    background: black;
    color: white; }

.divider:before {
  content: "-"; }

.arrow {
  position: absolute;
  width: 120px;
  height: 120px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white; }
  .arrow .icon {
    width: 120px;
    height: 60px;
    font-size: 48px;
    transform: rotate(90deg); }
    .arrow .icon:before {
      content: "‹"; }
  .arrow .text {
    text-align: center;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
    padding: 16px;
    margin: -4px; }
  .arrow:hover .text {
    background: white;
    color: black; }
  .arrow.top, .arrow.bottom {
    left: 50%;
    margin-left: -60px; }
  .arrow.left, .arrow.right {
    top: 50%;
    margin-top: -60px; }
  .arrow.top {
    top: 0; }
  .arrow.left {
    left: 0;
    transform: rotate(-90deg); }
  .arrow.bottom {
    bottom: 0; }
    .arrow.bottom .icon {
      transform: rotate(-90deg); }
  .arrow.right {
    right: 0;
    transform: rotate(90deg); }

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center; }
  .page.top {
    top: -100%;
    margin-top: 40px;
    padding-top: 120px;
    padding-left: 120px;
    padding-right: 120px; }
  .page.left {
    left: -100%;
    margin-left: 40px;
    padding-left: 120px;
    padding-top: 120px;
    padding-bottom: 120px; }
  .page.bottom {
    bottom: -100%;
    margin-bottom: 40px;
    padding-bottom: 120px;
    padding-left: 120px;
    padding-right: 120px; }
  .page.right {
    right: -100%;
    margin-right: 40px;
    padding-right: 120px;
    padding-top: 120px;
    padding-bottom: 120px; }

.page.top {
  display: flex; }
  .page.top .edu {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15vh 2vw 2vh 2vw;
    margin: 2vh 2vw 2vh 2vw;
    filter: grayscale(100%);
    transition: 0.3s ease-in-out; }
    .page.top .edu:hover {
      filter: none;
      transform: scale(1.05, 1.05); }
  .page.top .logo {
    width: 100%;
    height: 120px;
    margin-bottom: 16px; }
  .page.top .name {
    font-size: 20px;
    margin-bottom: 12px; }
  .page.top .date {
    font-weight: bold;
    margin-bottom: 16px; }

.page.left {
  display: flex;
  flex-direction: column; }
  .page.left .row {
    flex: 1;
    display: flex; }
  .page.left .prz {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.3s ease-in-out;
    margin: 2vh 2vw 2vh 2vw;
    filter: grayscale(100%); }
    .page.left .prz:hover {
      filter: none;
      transform: scale(1.05, 1.05); }
    .page.left .prz .panel {
      background: rgba(255, 255, 255, 0.8);
      padding: 16px; }
      .page.left .prz .panel span {
        display: block; }
  .page.left .name {
    font-weight: bold; }

.page.bottom {
  display: flex;
  flex-direction: column; }
  .page.bottom .row {
    flex: 1;
    display: flex; }
  .page.bottom .name {
    font-weight: bold; }

.page.right {
  display: flex;
  flex-direction: column; }
  .page.right a {
    text-decoration: none;
    color: inherit; }
  .page.right .row {
    flex: 1;
    display: flex; }
  .page.right .name {
    font-weight: bold; }

.exp, .prj {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.3s ease-in-out;
  margin: 2vh 2vw 2vh 2vw;
  filter: grayscale(100%); }
  .exp .hidden, .prj .hidden {
    display: none; }
  .exp:hover, .prj:hover {
    filter: none;
    transform: scale(1.05, 1.05); }
    .exp:hover .hidden, .prj:hover .hidden {
      display: block; }
    .exp:hover .panel, .prj:hover .panel {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%; }
  .exp .panel, .prj .panel {
    background: rgba(255, 255, 255, 0.8);
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: scroll; }
    .exp .panel > *, .prj .panel > * {
      margin: auto; }
    .exp .panel ul, .prj .panel ul {
      display: inline-block;
      width: 25vw;
      list-style: none;
      margin: 0;
      padding: 0; }
      .exp .panel ul li, .prj .panel ul li {
        text-align: left;
        margin: 12px;
        padding: 0 0 0 12px;
        border-left: 2px solid grey; }
        .exp .panel ul li a, .prj .panel ul li a {
          color: inherit;
          text-decoration: none;
          font-weight: bold; }

#edu_kdmhs {
  background: #98D5F4 url("./img/edu/bg/kdmhs.jpg") no-repeat bottom;
  background-size: contain; }
  #edu_kdmhs .logo {
    background: url("./img/edu/logo/kdmhs.png") no-repeat center;
    background-size: contain; }

#edu_ncta {
  background: #958E31 url("./img/edu/bg/ncta.jpg") no-repeat bottom;
  background-size: contain; }
  #edu_ncta .logo {
    background: url("./img/edu/logo/ncta.png") no-repeat center;
    background-size: contain; }

#edu_kams {
  background: #548BD0 url("./img/edu/bg/kams.jpg") no-repeat bottom;
  background-size: contain; }
  #edu_kams .logo {
    background: url("./img/edu/logo/kams.png") no-repeat center;
    background-size: contain; }

#prz_2010_koi {
  background: url("./img/prz/2010_koi.jpg") center;
  background-size: cover; }

#prz_2011_kyio {
  background: url("./img/prz/2011_kyio.jpg") center;
  background-size: cover; }

#prz_2014_gdghack {
  background: url("./img/prz/2014_gdghack.png") center;
  background-size: cover; }

#prz_2015_usaco {
  background: url("./img/prz/2015_usaco.jpg") center;
  background-size: cover; }

#prz_2016_utd {
  background: url("./img/prz/2016_utd.jpg") center;
  background-size: cover; }

#prz_2016_hackdfw {
  background: url("./img/prz/2016_hackdfw.jpg") center;
  background-size: cover; }

#prz_2016_codequest {
  background: url("./img/prz/2016_codequest.jpg") center;
  background-size: cover; }

#prz_2016_ksu {
  background: url("./img/prz/2016_ksu.jpg") center;
  background-size: cover; }

#exp_chaporoyal {
  background: url("./img/exp/chaporoyal.jpg") center no-repeat;
  background-size: cover; }

#exp_incubatex {
  background: url("./img/exp/incubatex.png") center no-repeat;
  background-size: cover; }

#exp_freelancer {
  background: url("./img/exp/freelancer.jpg") center no-repeat;
  background-size: cover; }

#exp_deblur {
  background: url("./img/exp/deblur.png") center no-repeat;
  background-size: cover; }

#prj_duocoder {
  background: url("./img/prj/duocoder.png") top center no-repeat;
  background-size: cover; }

#prj_algovis {
  background: url("./img/prj/algovis.png") top center no-repeat;
  background-size: cover; }

#prj_hitw {
  background: url("./img/prj/hitw.png") bottom center no-repeat;
  background-size: cover; }

#prj_taskbar7 {
  background: url("./img/prj/taskbar7.png") center no-repeat;
  background-size: cover; }

/*# sourceMappingURL=style.css.map */
