html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background: #80CBC4;
}

@font-face {
    font-family: font;
    src: url('../fonts/HKGrotesk-Regular.otf');
}

.font-large {
    font-size: 40px;
    line-height: 40px;
}

.font-medium {
    font-size: 24px;
    line-height: 24px;
}

.font-small {
    font-size: 18px;
    line-height: 18px;
}

.font-smaller {
    font-size: 14px;
    line-height: 14px;
}

p, span {
    font-family: font;
}

p {
    margin: 0;
    padding: 8px;
}

.fake-grid {
    position: absolute;
    display: table;
}

.fake-row {
    display: table-row;
}

.fake-col:before {
    content: "";
}

.fake-col {
    display: table-cell;
    box-sizing: border-box;
}

.cell {
    position: absolute;
    z-index: 0;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cell > .hide {
    flex: 1;
    overflow: auto;
}

.cell > div {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.icon {
    background-size: 50% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.circle {
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    top: 15%;
    left: 15%;
    max-height: 70%;
    max-width: 70%;
    background-color: #B2DFDB;
    opacity: .9;
    -webkit-transition: .2s ease-out .4s;
    -moz-transition: .2s ease-out .4s;
    -o-transition: .2s ease-out .4s;
    transition: .2s ease-out .4s;
}

.cell:hover > .circle {
    opacity: .8;
    border-radius: 0;
    top: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
}

.profile-text {
    overflow: hidden;
    background-color: #26A69A;
    max-width: 0;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
}

.cell:hover + div > .profile-text, .cell:hover > .profile-text {
    max-width: 100%;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
}

.profile-text .profile-name {
    margin-top: 8px;
}

.profile-text p {
    margin: 0 8px 0 8px;
}

.profile-text {
    color: white;
}

.profile-section {
    text-decoration: underline;
}

.profile-image {
    background: url('../images/profile_pic.jpg') center no-repeat;
    background-size: cover;
}

.cell13 {
    background-image: url('../images/bg_award.jpg');
}

.cell13 .icon {
    background-image: url('../images/icon_award.png');
}

.cell13 .text {
    color: #004D40;
}

.cell13 .font-smaller {
    color: #00897B;
    font-style: italic;
}

.cell13 > .icon {
    max-height: 100%;
    -webkit-transition: max-height .5s ease-out;
    -moz-transition: max-height .5s ease-out;
    -o-transition: max-height .5s ease-out;
    transition: max-height .5s ease-out;
}

.cell13:hover > .icon {
    max-height: 25%;
    -webkit-transition: max-height .5s ease-out 0s;
    -moz-transition: max-height .5s ease-out 0s;
    -o-transition: max-height .5s ease-out 0s;
    transition: max-height .5s ease-out 0s;
}

.cell22 {
    background-image: url('../images/bg_career.jpg');
}

.cell22 .icon {
    background-image: url('../images/icon_career.png');
}

.cell22 .career-section:nth-child(odd) {
    background-color: rgba(0, 77, 64, .1);
}

.cell22 p:not(.career-header) {
    padding: 4px 8px 4px 24px;
}

.cell22 .font-small {
    color: #004D40;
}

.cell22 .font-smaller {
    color: #00897B;
    font-style: italic;
}

.cell22 .career-header {
    color: #004D40;
    padding: 16px 8px 4px 8px;
}

.cell22 .career-header.font-medium, .cell22 .career-header .font-medium {
}

.cell22 .career-header .font-medium {
    padding: 0;
}

.cell22 .career-header .font-smaller {
    color: #004D40;
    padding: 0;
}

.cell22 > .icon {
    max-height: 100%;
    -webkit-transition: max-height .5s ease-out;
    -moz-transition: max-height .5s ease-out;
    -o-transition: max-height .5s ease-out;
    transition: max-height .5s ease-out;
}

.cell22:hover > .icon {
    max-height: 16.67%;
    -webkit-transition: max-height .5s ease-out 0s;
    -moz-transition: max-height .5s ease-out 0s;
    -o-transition: max-height .5s ease-out 0s;
    transition: max-height .5s ease-out 0s;
}

.cell31 {
    background-image: url('../images/bg_education.jpg');
}

.cell31 .icon {
    background-image: url('../images/icon_education.png');
}

.cell31 .text {
    color: #004D40;
}

.cell31 .font-smaller {
    color: #00897B;
    font-style: italic;
}

.cell31 > .icon {
    max-height: 100%;
    -webkit-transition: max-height .5s ease-out;
    -moz-transition: max-height .5s ease-out;
    -o-transition: max-height .5s ease-out;
    transition: max-height .5s ease-out;
}

.cell31:hover > .icon {
    max-height: 25%;
    -webkit-transition: max-height .5s ease-out 0s;
    -moz-transition: max-height .5s ease-out 0s;
    -o-transition: max-height .5s ease-out 0s;
    transition: max-height .5s ease-out 0s;
}

.cell33 {
    background-image: url('../images/bg_skill.jpg');
}

.cell33 .icon {
    background-image: url('../images/icon_skill.png');
}

.cell12, .cell21, .cell23, .cell32 {
    background: #4DB6AC;
}